{{> welcome-menu-dashboard active="home"}}

{{#if admin}}
  <form action="/admin/dashboard" method="GET" enctype="multipart/form-data">
    <div class="field" style="text-align: center;">
      <button class="button is-link">Admin dashboard</button>
    </div>
  </form>
{{/if}}



<section class="section">
  {{> introduction }}
</section>



<hr style="height:2px;border-width:0;color:gray;background-color:gray">

<section class="section">
  {{> map }}
</section>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
<section>
  {{> list-pois}}

</section>

<hr style="height:2px;border-width:0;color:gray;background-color:gray">
<section class="section">
  {{> add-poi}}
</section>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">

<section class="section">
  {{> about-city}}
</section>



