{{> welcome-menu aktive="home"}}

<section class="section" style="text-align: center; font-size: 20px">
  <p> Welcome on the page! Please sign up or log in! After that you will be able to discover interesting places of Ostrava!</p>
</section>