
<div style="margin: auto; text-align: justify; ">
  <h1 class="title" style="color:darkgreen;font-size:45px;text-align:center;">About the city</h1>
  <br style="margin-bottom: 20px">

  <b> Current Weather : </b> {{temperature}} °C, {{weather_description}}<br>
  <br style="margin-bottom: 20px">

  <p>
    Ostrava, the third largest city in the Czech Republic, is situated in the northeast of the country and forms the heart of the Moravian-Silesian region. It is located close to the Slovak and Polish borders on the banks of Ostravice River and offers beautiful views of the Beskydy Mountains.
    <br style="margin-bottom: 20px">

    The first written documentation about the founding of a village under the ownership of the Bishop Bruno originates from 1267. The city was established along the so-called Amber Trail, used by traders as the main route connecting the Baltic Sea to the Mediterranean Sea since time immemorial. In the 2nd half of the 14th century, city walls were built, and the city castle probably formed part of the fortification as well. Today, all that remains of the rampart is the name of the street, Na hradbách, and fragment near the Church of St. Wenceslas.

    <br style="margin-bottom: 20px">

    The discovery of coal in the 2nd half of the 18th century was to be a turning point in the history of the area, which would become an important European centre for the production of steel. Ostrava lost its heavy industrial appearance long ago. Coal mining in the city came to an end in 1994.

    <br style="margin-bottom: 20px">
    Museums have been established where mines once stood. This industrial heritage presents the city with outstanding architectural jewels. In addition to technological sites of interest, the city also offers visitors a number of other cultural and historically attractive places, which allow people to enjoy pleasant days full of unforgettable experiences.
    <br style="margin-bottom: 20px">
    source: <a href="https://www.ostrava.cz/en/turista/turista-en"> Official City Website</a>
  </p>
  <p style="text-align: center; margin-top: 40px">
    <img src="/images/ova1.jpg">
    <img src="/images/ova4.jpg" width="390" height="290"> <img src="/images/ova2.jpeg" width="390" height="290"></p>






</div>
