<h1 class="title" style="color:darkgreen;font-size:30px;text-align:center;">Add New Poi</h1>
<form action="/dashboard/addpoi" method="POST">
  <div class="field">
    <label class="label"> Name of Poi</label>
    <input class="input" type="text" placeholder="Enter poi name" name="name">
  </div>

  <div class="field">
    <label class="label"> Category</label>
    <input class="input" type="text" placeholder="Enter poi category" name="category">
  </div>

  <div class="field">
    <label class="label"> Description</label>
    <input class="input" type="text" placeholder="Enter poi description" name="description">
  </div>

  <div class="field">
    <label class="label"> Latitude</label>
    <input class="input" type="text" placeholder="Enter poi latitude" name="latitude">
  </div>

  <div class="field">
    <label class="label"> Longitude</label>
    <input class="input" type="text" placeholder="Enter poi longitude" name="longitude">
  </div>

  <div class="field is-grouped">
    <button class="button is-link">Add Poi</button>
  </div>
</form>