<h1 class="title" style="color:darkgreen;font-size:30px;text-align:center;">Statistics </h1>
<div style="text-align: center; font-size: 20px; margin-bottom: 20px">

  <b> Total number of Pois : </b> {{sum_poi}}<br>
  <b> Total number of Users : </b>{{sum_user}} <br>
  <b> Total number of Admins : </b>{{admins}} <br>
  <b> Number of pois added by user in average</b> : {{average}}<br>
</div>
