<p style="text-align: center; margin-top: 40px"><img src="/images/panorama.jpg"></p>
<div style="text-align: center; font-size: 20px; margin-bottom: 20px;">
  <h1 class="title" style="color:darkgreen;font-size:45px;text-align:center; margin-top: 20px">Welcome on the page, {{nickname}}!</h1>

  <p>We are happy that you decided to join our community and discover the most beautiful places of Ostrava. It is an industrial heart of
    Europe and if you want to know more about history of the city, scroll down to the page!
    In the map below you can see all of the points of interest ("pois") added by you and other users.
    Look how many places you can discover:</p> <br>
  <b> Number of pois in total: </b> {{num_of_poi_total}} <b  style="margin-left: 30px">Number of your pois:</b> {{num_of_pois_user}}<br>



</div>
