<h1 class="title" style="color:darkgreen;font-size:30px;text-align:center;">Poi You Already Added</h1>

{{#each user_poi}}
  <div class="box box-link-hover-shadow">
    <h2 class="title">
      {{name}}
    </h2>
  </div>
{{/each}}