<div class="title p-3 is-flex" style="text-align: center">
  <i style="font-size: 48px; color: Green;" class="	fas fa-compass"></i>
  <div class="ml-4" style="text-align: center" >Points of Interest</div>
</div>