<h1 class="title" style="color:darkgreen;font-size:30px;t">Modify Poi Image</h1>
<form action="/modifyimage/submit/{id}" method="POST" enctype="multipart/form-data">
      <div id="file-select" class="file has-name is-fullwidth">
        <label class="file-label">
          <input class="file-input" name="imagefile" type="file" accept="image/png, image/jpeg">
          <span class="file-cta">
            <span class="file-icon">
              <i class="fas fa-upload"></i>
            </span>
            <span class="file-label">
              Choose a file…
            </span>
           </span>
          <span class="file-name"></span>
        </label>

      </div>
      <div>
        <input class="input" type="hidden" name="poiId" value="{{poiId}}"><br>
        <button type="submit" class="button is-link">Update Image</button>
      </div>
    </form>

  <script>
    const fileInput = document.querySelector(".file-input");
    fileInput.onchange = () => {
      if (fileInput.files.length > 0) {
        const fileName = document.querySelector(".file-name");
        fileName.textContent = fileInput.files[0].name;
      }
    };
  </script>